.haha {
  font-family: Roboto;
  font-size: 17px;
  color: #94a3b8;
  margin-top: 80px;
}

.state-stats-container {
  background-color: #161625;
  height: 93vh;
  padding: 20px 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.state-name-only {
  font-family: Roboto;
  color: #0ea5e9;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tested-heading {
  font-family: Roboto;
  font-size: 16px;
  color: #94a3b8;
  margin-top: 18px;
  text-align: right;
}
.tested-count {
  font-family: Roboto;
  font-size: 17px;
  color: #94a3b8;
  letter-spacing: 1px;
  margin-top: 12px;
  text-align: right;
}
.stat-confirmed,
.count-confirmed {
  color: #ff073a;
}
.stat-recovered,
.count-recovered {
  color: #28a745;
}
.stat-active,
.count-active {
  color: #007bff;
}
.stat-deceased,
.count-deceased {
  color: #6c757d;
}
.confirmed-con:hover {
  background: #331427;
}
.active-con:hover {
  background: #132240;
}
.recovered-con:hover {
  background: #182829;
}
.deceased-con:hover {
  background: #212230;
}
/* --------------  media query for width < 767 ---------------- */

@media screen and (max-width: 767px) {
  .stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stat-container {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
  }
  .stat-container-1 {
    display: flex;
    flex-direction: column;
  }
  .stat-container-2 {
    display: flex;
    flex-direction: column;
  }
  .state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
  }
  .state-name-only {
    font-size: 16px;
    height: 43px;
    width: 180px;
    padding: 10px 20px;
    margin-bottom: 17px;
  }
  .stat-name,
  .stat-count {
    font-family: Roboto;
    font-size: 13px;
  }
  .stat-count {
    font-size: 16px;
  }
  .confirmed-con:hover,
  .active-con:hover,
  .recovered-con:hover,
  .deceased-con:hover {
    height: 125px;
    width: 125px;
    padding: 18px;
    border-radius: 12px;
    margin: 32px 34px 34px 34px;
  }
  .district-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
  }
  .districts-header {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #ff073a;
  }
  h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #94a3b8;
  }
}
/* --------------  media query for width > 768 ---------------- */

@media screen and (min-width: 768px) {
  .stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stat-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
  }
  .stat-container-1 {
    display: flex;
  }
  .stat-container-2 {
    display: flex;
  }
  .state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
  }
  .state-name-only {
    font-size: 19px;
    height: 48px;
    width: 210px;
    padding: 10px 20px;
    margin-bottom: 25px;
  }
  .stat-name,
  .stat-count {
    font-family: Roboto;
    font-size: 15px;
  }
  .stat-count {
    font-size: 19px;
  }
  .stat-container {
    margin: 80px;
  }
  h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #94a3b8;
  }
  .confirmed-con:hover,
  .active-con:hover,
  .recovered-con:hover,
  .deceased-con:hover {
    height: 148px;
    width: 148px;
    left: 150px;
    top: 308px;
    padding: 14px;
    border-radius: 12px;
    margin: 65px 63px 65px 61px;
  }
}
.state-names {
  color: #fff;
  font-size: 40px;
}
