.state-stats-container {
  background-color: #161625;
  min-height: 93vh;
  padding: 20px 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.state-name-only {
  font-family: Roboto;
  color: #0ea5e9;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-text {
  font-family: Roboto;
  font-size: 14px;
  color: #94a3b8;
}
.tested-heading {
  font-family: Roboto;
  font-size: 16px;
  color: #94a3b8;
  text-align: right;
}
.tested-count {
  font-family: Roboto;
  font-size: 17px;
  color: #94a3b8;
  letter-spacing: 1px;
  margin-top: 12px;
  text-align: right;
}

/* .each-district-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
} */
.districts {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto';
  justify-content: center;
}
.districts-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #ff073a;
}

.each-state-name-count-container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(148, 163, 184, 1);
  width: 100%;
  display: flex;
  min-height: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.each-state-name-count-lists {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  margin-right: 90px;
}

.each-state-name-count-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.each-state-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.each-state-name {
  font-weight: 500;
  font-size: 16px;
  width: 80px;
  font-style: italic;
  font-weight: 500;
}
.no-report-msg {
  font-size: 14px;
  margin-right: 10px;
  color: #0ea5e9;
}
/* --------------  media query for width < 767 ---------------- */

@media screen and (max-width: 767px) {
  .state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin-top: 20px;
  }
  .state-name-only {
    font-size: 14px;
    height: 43px;
    width: 180px;
    padding: 10px 20px;
    margin-bottom: 17px;
  }
  .each-state-name-count-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
  }
  .each-state-count {
    font-size: 15px;
    color: rgba(148, 163, 184, 1);
    margin-right: 15px;
  }
  .each-state-name {
    font-size: 12px;
    color: rgba(148, 163, 184, 1);
  }
}
/* --------------  media query for width > 768 ---------------- */

@media screen and (min-width: 768px) {
  .state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin-top: 35px;
  }
  .state-name-only {
    font-size: 16px;
    height: 48px;
    min-width: 200px;
    padding: 10px 20px;
    margin-bottom: 25px;
  }
  .each-state-count {
    font-size: 16px;
    color: rgba(148, 163, 184, 1);
    margin-right: 15px;
  }
  .each-state-name {
    font-family: 13px;
    color: rgba(148, 163, 184, 1);
  }
}
